@import "tailwindcss";
@tailwind utilities;


.hero-bg {
    background-image: url('../assets/images/hero-bg.avif');
    background-size: cover;
    background-position: center;
}
.value-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
}
        
.team-card:hover img {
        transform: scale(1.05);
}

.mobile-menu {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
}
        
.mobile-menu.open {
    max-height: 500px;
}